/* Gmail Card Container */
.gmail{
  margin-left: 200px;
  

}
.gmail-card {
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    margin-bottom: 15px;
    background-color: #ffffff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
    /* padding-top: 0px; */
    margin-top: 10px;
    width: 80%;
    margin-left: 10%;
    box-shadow: 2px 5px 15px rgba(0,2,2,.2);;
  }
  
  /* Gmail Card Header */
  .gmail-card-header {
    padding: 10px;
    border-bottom: 1px solid #e5e5e5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
  }
  
  /* Gmail Sender Name */
  .gmail-sender {
    flex: 1;
  }
  
  /* Gmail Email Subject */
  .gmail-subject {
    flex: 2;
    text-align: right;
    color: #0073e6; /* Gmail blue color for subject */
  }
  
  /* Gmail Card Body */
  .gmail-card-body {
    padding: 10px;
    overflow: hidden;
  }
  
  /* Style for Gmail-like email tiles */
/* Navbar Styles */
nav {
    background-color: #e9e9e9 !important;; /* Gmail blue color */
    /* color: #1e1e1e; */
    flex: 1;
    /* padding: 10px 20px; */
    /* margin: auto; */
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    overflow: hidden;
    scroll-behavior: smooth;
  }
  
  .navbar {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
  }
  
  .navbar-item {
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    color: #1e1e1e;
    
  }
  
  .navbar-item:hover {
    background-color: #d1d1d1; /* Darker shade on hover */
  }
  
  .active {
    background-color: #d2d2d2; /* Active page highlight color */
    font-weight: bold;
  }
  
  /* Style for Navbar */
    /* Your custom CSS file (e.g., styles.css) */
.custom-spinner {
  display: inline-flex;
  width: 3rem; /* Corresponds to 'w-12' in Tailwind CSS */
  height: 3rem; /* Corresponds to 'h-12' in Tailwind CSS */
  border-top: 0.5rem solid #000; /* Corresponds to 'border-t-2' in Tailwind CSS */
  border-bottom: 0.5rem solid #000; /* Corresponds to 'border-b-2' in Tailwind CSS */
  border-left: 0.5rem solid transparent; /* For a circular shape */
  border-right: 0.5rem solid transparent; /* For a circular shape */
  animation: spin 2s linear infinite; /* Corresponds to 'animate-spin' in Tailwind CSS */
  border-radius: 50%; /* Corresponds to 'rounded-full' in Tailwind CSS */
  background-color: transparent;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.spinner{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-content: center;
  padding-top: 30%;
}
